.beatbox{
    padding-top:3rem;
}
.beatpad{
    width: 600px;
    height: 270px;
    background-image: url(../beatpad/assets/Optimized-gradient1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0 auto; 
    border-radius: 20px;
}
.io>div{
    margin: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3)
}
.toggle{
    display: flex;
    justify-content: space-between;
}
.tog{
    padding: 10px;
}
.tog img{
    color: #fff;
}
#text{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
.io{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: space-between;
}
.box{
    flex-basis:25% ;
    justify-content: center;
    margin: 10px;
    margin-bottom: 80px;
    /* background-color: rgb(248, 231, 231);  */
    height: 50px;
    border-radius: 10px;
}
.box:hover{
    transform: scale(1.06);
}
.box img{
    transform: translate(250%,50%);
}

@media only screen and (max-width: 540px){
    .beatpad{
        width: 300px;
        height: 360px;
    
    }
    .box{
        width: 10px;
        margin-top: 20px;
    }
    .box img{
        position: relative;
        left: -50%;
    }
    #box9{
        display: none;
    }
}